<div id="favorite-link-<%= post.id %>">
  <% if current_user.favorites.find_by(post_id: post.id) %>
    <%= link_to post_favorites_path(post.id), method: :delete, remote: true do %>
        <div class = "good_button">❤️<span style="margin-left: 4px;"><%= post.favorites.count %></span></div>
    <% end %>
  <% else %>
    <%= link_to post_favorites_path(post.id), method: :post, remote: true do %>
        <div class = "bad_button">♡️<span style="margin-left: 4px;"><%= post.favorites.count %></span></div>
    <% end %>
  <% end %>
</div>
