<% provide(:title, 'Profile') %>

<div class="update-container">
  <h2>プロフィール</h2>

  <div class="update-content-area">
    <div class="update-content">
      <% if @user.image? %>
        <%= image_tag @user.image.url, class: "host-icon" %>
      <% else %>
        <img class="update-host-icon" src="/assets/default_icon.jpeg">
      <% end %>
    </div>

    <div class="update-content">
      <label class="update-name" for="name">ユーザー名 | </label>
      <%= @user.name %>
    </div>

    <div class="update-content">
      <label class="update-email" for="email">メールアドレス | </label>
      <%= @user.email %>
    </div>

    <div class="update-content">
      <label class="update-introduction">自己紹介 | </label>
      <%= @user.introduction %>
    </div>

    <div class="update-content">
      <%= link_to "編集する", edit_user_registration_path, class: "link" %>
    </div>
  </div>
</div>
