<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Where's Hosp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='<%= controller.controller_name %>'>
    <%= render 'layouts/header' %>
    <main>
      <div class='container'>
        <div class='flash-errors'>
          <%= render 'layouts/flash' %>
        </div>
        <%= yield %>
      </div>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
